GLFW_ICON ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Snake & Rabbit - A snake game built with C and raylib"
      VALUE "FileVersion", "0.1.0"
      VALUE "InternalName", "snake-rabbit"
      VALUE "LegalCopyright", "Copyright (c) 2026 Umaid Malik"
      VALUE "OriginalFilename", "snake-rabbit.exe"
      VALUE "ProductName", "Snake & Rabbit"
      VALUE "ProductVersion", "0.1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
